.finalgeneration {
        width: auto;
        min-height: 100vh; /* Minimum height of the gallery, covering full viewport */
        background: #0d1117;
        background: -webkit-linear-gradient(to left, #414345, #0d1117);
        background: linear-gradient(to left, #414345, #0d1117);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        overflow-x: hidden;
}