.galleryPage {
    width: auto;
    min-height: 100vh;
    display: flex;
    position: relative; /* Set the position to relative for proper stacking */
    z-index: 1; /* Ensure the content appears on top */
    background: none; /* Remove original background */
}

.galleryPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/bg3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px); /* Apply blur effect */
    z-index: -1; /* Ensure it is behind the content */
}
