.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black background */
  z-index: 999;
  /* Ensure the popup is on top of everything else */
  backdrop-filter: blur(10px);
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  /* Ensure the popup content is on top of the background */
}

.popup-inner {
  background-color: #e8e8e8;
  /* background-color: rgba(217, 217, 217, 0.58); */
  border: none;
  /* box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22); */
  /* backdrop-filter: blur(6px); */
  border-radius: 18px;
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 18px;
  /* min-height: auto;
  min-width: auto; */
  /* height: 650px; */
  /* width: 750px;   */
}

.popup-inner:hover {
  border: 3px solid #f09042;
  /* transform: scale(1.05); */
}

/* .popup-inner:active {
  transform: scale(0.95);
} */

/*Popup Close Button*/
.popup-closebtn {
  background-color: transparent;
  position: fixed;
  margin-top: 12px;
  margin-left: 21px;
  border: none;
}
.popup-closebtn::after {
  content: 'close';
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(168, 7, 7);
  padding: 4px 8px;
  border-radius: 5px;
  transition: .2s linear;
  transition-delay: .2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}
.popup-icon {
  transform: scale(1.5);
  background-color: #d00000;
  transition: .2s linear;
}
.popup-closebtn:hover>.popup-icon {
  transform: scale(1.5);
  background-color: rgb(168, 7, 7);
  /* color: #A80707; */
}
.popup-closebtn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}

.popup-content {
  padding: 1px;
  color: #000;
}

.blur-background {
  filter: blur(5px);
}



/*Course Tittle Button*/
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
  text-align: center;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #212529;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #292929;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #292929;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
  letter-spacing: 20px;
  font-size: 40px;
}

.button:hover {
  color: #292929;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

.button-position {
  display: flex;
  justify-content: center;
}

/* Grade Button */
.popup-grade {
  --btn-default-bg: #212529;
  --btn-padding: 7.5px 110px;
  --btn-hover-bg: #212529;
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: #212529;
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #f09042;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.popup-grade {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}


.popup-grade .span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.popup-grade .span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.popup-grade:hover,
.popup-grade:focus {
  background: var(--btn-hover-bg);
}

.popup-grade:hover .span,
.popup-grade:focus .span {
  color: var(--hover-btn-color);
}

.popup-grade:hover .span::before,
.popup-grade:focus .span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}


.unit-percentage {
  background: #f09042;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 14px;
  display: inline-flexbox;
  align-items: center;
  justify-content: center;
  border: 3px solid #000;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  margin-left: 4px;
  color: #000;
  width: 14%;
}


.unit-title {
  width: 78%;
  background: #fff;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  color: #000;
  cursor: pointer;
  text-align: left;
}

.dropdown {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-flexbox;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 10%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  margin-left: 4px;
}

.dropdown:hover {
  background-color: rgb(56, 56, 56);
}

.dropdown:active {
  transform: scale(0.8);
}


.popup-show-all-units {
  background: #e8e8e8;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  color: #000;
  cursor: pointer;
}
.margin{
  margin: 0.5rem;
}

.chapter-unit {
  cursor: pointer;
  width: 12%;
  margin-left: 2%;
  text-align: left;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 0.5px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.chapter-unit:active {
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.chapter-unit:hover {
  border: 1px solid transparent;
  font-weight: bold;
}

.chapter-title {
  cursor: pointer;
  width: 60%;
  margin-left: 2%;
  text-align: left;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 0.5px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.chapter-title:active {
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.chapter-title:hover {
  border: 1px solid transparent;
  font-weight: bold;
}