.SearchContainer {
  width: 118.9rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
}

.SearchBar{
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  color: #011627;
  width: 60%;
}

.SearchBar:focus {
  outline-offset: 5px;
  background-color: #fff
}
