.SearchContainer {
  width: 118.9rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
}

.SearchBar{
  border-radius: 14px;
  outline: 4px solid #0d1117;
  /* outline: 4px solid #f09042; */
  border: 0;
  background-color: #fff;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  color: #011627;
  width: 45%;
}

.SearchBar:focus {
  outline-offset: 10px;
}
