.SearchBar{
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  color: #011627;
  width: 50%;
}

.SearchBar:focus {
  outline-offset: 5px;
  background-color: #fff
}

.SearchContainer {
  /* max-width: 1000px; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1000;
}

.searchResultBox{
  list-style: none;
  padding: 0;
  margin: 40px;
  width: 48%;
  position: absolute;
  background-color: #011627;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  border-radius: 8px; /* Apply border radius for rounded corners */
  font-family: Arial, sans-serif; /* Specify a font family for better readability */
  
}

.searchResultCourse {
  padding: 5px;
  cursor: pointer;
  background-color: #1c1c1c;
  border-radius: 5px;
  border-bottom: 1px solid #375e97; /* Add a bottom border to create the divider */
}

.searchResultCourse:last-child{
  border-bottom: none; /* Remove bottom border from the last list item */
}

.searchResultCourse:hover {
  background-color: #000000;
}

.SearchText{
  color: #fff; /* Set text color to white */
  text-decoration: none;
}

