.ServicesAboutUs {
    width: auto;
    height: auto;
    display: flex;
    background-color: #0f1e27;
}

.ServicesAboutUs .mainHeading {
    color: #ffc300;
    font-size: 17px;
    margin-left: 10%; /* Adjust margin for responsiveness */
}

.ServicesAboutUs .paraHeading {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-left: 10%; /* Adjust margin for responsiveness */
}

.ServicesAboutUs .para {
    text-align: justify;
    margin-left: 10%; /* Adjust margin for responsiveness */
}

.ServicesAboutUs .content {
    flex: 70;
    padding: 50px; /* Adjust padding for responsiveness */
    color: #fff;
    margin-top: 150px;
}

.cards {
    box-sizing: border-box;
    width: 220px;
    height: 154px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 10px;
}

.cardsPosition {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-right: 10%; /* Adjust margin for responsiveness */
}

.upperCards,
.lowerCards {
    flex-direction: column;
    align-items: center;
}

.cards:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.cards:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .ServicesAboutUs .mainHeading,
    .ServicesAboutUs .paraHeading,
    .ServicesAboutUs .para {
        margin-left: 5%; /* Adjust margin for smaller screens */
    }

    .ServicesAboutUs .content {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .cardsPosition {
        margin-right: 5%; /* Adjust margin for smaller screens */
    }
}
