.Nextbutton {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  cursor: pointer;
  border: 3px solid rgb(255, 239, 94);
  background-color: rgb(255, 239, 94);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.Previousbutton {
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  cursor: pointer;
  border: 3px solid rgb(255, 239, 94);
  background-color: rgb(255, 239, 94);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.BtnText {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
}


.PreviousArrow {
  transform: scaleX(-1);
  margin-bottom: 0.19rem;
}


.Nextbutton:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Previousbutton:hover .PreviousArrow {
  animation: slide-in-right-mirrored 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-right-mirrored {
  0% {
    transform: translateX(8px) scaleX(-1);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) scaleX(-1);
    opacity: 1;
  }
}


.Nextbutton:active {
  transform: scale(0.97);
}