 /*Quiz-Card CSS*/
 .QuizCard {
   margin-right: 10px;
   margin-left: 5px;
 }


 .History-button {
   font-size: 1.2rem;
   color: #FAFAFA;
   text-transform: capitalize;
   padding: 5px 10px;
   border-radius: 8px;
   border: none;
   background: #6c757d;
   cursor: pointer;
 }

 .History-button:active {
   box-shadow: none;
   transform: translate(3px, 3px);
 }

 .Reattempt-button {
   font-size: 1.2rem;
   color: #FAFAFA;
   text-transform: capitalize;
   padding: 5px 10px;
   border-radius: 8px;
   border: none;
   background: #6c757d;
   cursor: pointer;
 }

 .Reattempt-button:active {
   box-shadow: none;
   transform: translate(3px, 3px);
 }

 /*Check-Answer*/
 .CheckAnswer-button {
   font-size: 1.6rem;
   color: #0d1117;
   text-transform: capitalize;
   padding: 5px 5px;
   border-radius: 8px;
   border: none;
   background: #f09042;
   cursor: pointer;
   margin-bottom: 6px;
 }

 .CheckAnswer-button:hover {
   transform: translate(-0.05em, -0.05em);
   box-shadow: 0.15em 0.15em;
 }

 .CheckAnswer-button:active {
   transform: translate(0.05em, 0.05em);
   box-shadow: 0.05em 0.05em;
 }

 .CheckAnswer-button[disabled] {
   display: none;
 }