 /*Quiz-Card CSS*/
.QuizCard{
  border-radius: 20px;
  /* border: 2px solid #FAFAFA; */
  /* background: #252525; */
  /* box-shadow: 3px 3px #fafafa; */
  border: 4px solid #323232 ;
  box-shadow: 1px 1px #fafafa;
  margin-right: 10px;
  margin-left: 5px;
}

/*Quiz-Question*/
.Quiz{
  box-shadow: 3px 3px #fafafa;
}
.History-button {
    font-family: monospace;
    /* font-size: 1.5rem; */
    color: #FAFAFA;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    /* margin: 35px 0; */
  }
  
.History-button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

.Reattempt-button {
    font-family: monospace;
    /* font-size: 1.5rem; */
    color: #FAFAFA;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    /* margin: 35px 0; */
  }
  
.Reattempt-button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  /*Check-Answer*/
  .CheckAnswer-button{
    font-family: monospace;
    font-size: 1rem;
    color: #FAFAFA;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin-bottom: 6px;
  }
  
  .CheckAnswer-button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .CheckAnswer-button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  .CheckAnswer-button[disabled] {
    color: #6d6875 /* Set the color to fully transparent when disabled */
  }