.cssbuttons-io-button {
    background: #f09042;
    color: #0d1117;
    padding: 0.77em;
    padding-left: 1.2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 40px;
    padding-right: 3.3em;
    cursor: pointer;
    margin-top: 3px;
    border: none;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #f09042;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon .svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #f09042;
    display: flex;
  }
  
  .cssbuttons-io-button:hover .icon .svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  